<!-- <p>picture works!</p> -->

<!-- <h2>Breakfast</h2> -->
<!-- <div>
    <img src="https://images.unsplash.com/photo-1525351484163-7529414344d8?q=80&w=2680&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    class="thumbnail" alt="">
</div>

<div>
    <img src="{{ image }}" class="thumbnail" alt="">
</div> -->


<h2> {{ caption }}</h2>

<div>
    <img [src]="image" [class]="imageStyle" (click)="imageClicked()">
</div>

<!-- <div>
    <img [src]="image" (click)="imageClicked()">
</div> -->
