<h2>View Child</h2>
<!-- 
<app-viewchild></app-viewchild>
<button (click)="changeViewchildText()">Change child text</button> -->

<!-- <app-test [parentData]="greeting" (eventEmitter)="addItem($event)></app-test>

<div> Items from test components: {{Item}} </div> -->
<!-- 
<div class="row my-5">
  <div class="col text-end">
    Status:
  </div>
  <div class="col">
    <span class="badge-bg-success" *ngIf="isOnline">Online</span>
    <span class="badge-bg-danger" *ngIf="!isOnline">Offline</span>
  </div>
</div>

<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<form>
  <mat-form-field>
    <input type="email" formControlName="email"
    placeholder="Please enter your email"
    matInput>
  </mat-form-field>
</form>

<button type="button" mat-button>Press</button>
<button type="button" mat-raised-button>Press</button>
<button type="button" color="primary" mat-raised-button>Press</button>
<button type="button" mat-icon-button><mat-icon>favorite</mat-icon></button>
<button type="button" color="accent" mat-icon-button><mat-icon>favorite</mat-icon></button>
<button type="button" color="warn" mat-button><mat-icon>free_breakfast</mat-icon></button>

<mat-radio-group formControlName="attending">
  <mat-radio-button value="yes"> Yes </mat-radio-button>
  <mat-radio-button value="no"> No </mat-radio-button>
</mat-radio-group>

<mat-form-field>
  <mat-select placeholder="Guest" formControlName="guest">
    <mat-option *ngFor="let g of [0, 1 , 2 ,3]" [value]="g">
      {{ g }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-checkbox formControlName="newsletter">
  Yes, I wish to receive newsletters
</mat-checkbox> -->

<!-- <mat-checkbox [formControl]="diet"
  *ngFor="let diet of dietArray.controls; let i = index">
{{ labels[i]}}
</mat-checkbox> -->

<app-friend></app-friend>

<div (panup)="onSwipeUp()"></div>