<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goodread - Book Details</title>
</head>
<body>
    Book Details

    <table>
        <thead>
            <!-- needs to account for null and unicode -->
           Book_ID:
           Title:
           Authors:
           Description:
           Edition:
           Format:
           Pages:
           Rating:
           Rating Count:
           Review Count:
           Genre:
           Image_Url: 
        </thead>
        <tbody>
            
        </tbody>

    </table>
</body>
</html>