<h1>hello</h1>

<h2>You have {{images.length}} images</h2>

<!-- <app-picture image="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
caption="Placeholder">
</app-picture>

<app-picture image="https://i.pinimg.com/564x/f7/1a/40/f71a40957de3e804c26c165376ac3498.jpg"
caption="Pichu :D">
</app-picture> -->

<table>
  <tr>
  <td>
    <app-picture *ngFor="let i of images"
      [image]="i.url"
      [caption]="i.caption"
      (imageEvent)="imagePressed($event)">
    </app-picture>
  </td>
  <td>
    <app-history [history]="pastCaptions">
    </app-history>
  </td>
  </tr>
</table>
