<div>
    <table>
        <tr>
            <td><img src="/assets/numbers/number{{ value }}.jpg" width="200"></td>
        </tr>
        <tr>
            <td>
                <input type="number" [min]="min" [max]="max" [value]="value">
                <button (click)="incr(+1)">+</button>
                <button (click)="incr(-1)">-</button>
                <input type="checkbox" (click)="negative()">
                <button (click)="pressed()">pressed</button>
            </td>
        </tr>
    </table>
</div>
